__pycache__
.idea
Benchmarks.xlsx
funcs.py
RunBenchmarks.py
_Friedhof.py
__pycache__/
Log.txt
Log_numba.txt
numba_cc.cp38-win_amd64.pyd
compile.py
~$Benchmarks.xlsx
docs/
index.rst
venv/